<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Search results
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let option of options">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="17px">
            <img src="/assets/from-to.jpg"  alt="">
          </ion-col>
          <ion-col>
            <p><b>DEPARTURE</b> ({{option.departure_time}})</p>
            <p>{{item.location_from}}</p>
            <ng-container *ngFor="let type of option.types">
                <ion-icon size="large" color="primary" name="{{type}}"></ion-icon>
            </ng-container>
            <p><b>ARRIVAL</b> ({{option.arrival_time}})</p>
            <p>{{item.location_to}}</p>
          </ion-col>
          <ion-col class="align-right col">
            <p><b>Green score</b></p>
            <img class="green-score" src="/assets/green-scale-4.jpg" alt="" *ngIf="option.green_score == 4">
            <img class="green-score" src="/assets/green-scale-3.jpg" alt="" *ngIf="option.green_score == 3">
            <img class="green-score" src="/assets/green-scale-2.jpg" alt="" *ngIf="option.green_score == 2">
            <img class="green-score" src="/assets/green-scale-1.jpg" alt="" *ngIf="option.green_score == 1">
            <p><small>{{option.green_score}}/4</small></p>
            <section class="flex-bottom bottom-right-flex">
              <p class="minutes"><span class="big-text">{{option.total_time}}</span><small>min</small></p>
              <!-- <img class="arrow-down" src="/assets/keyboard_arrow_down.svg" alt=""> -->
              <ion-icon size="large" name="information-circle"></ion-icon>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
