<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search for a destination
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 padding>Where to go?</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">From</ion-label>
        <ion-input name="from" required type="text" (keyup)="handleFrom($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">To</ion-label>
        <ion-input name="to" required type="text" (keyup)="handleTo($event)"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Go</ion-button>
    </div>
  </form>
</ion-content>
